*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainDiv{
    display: grid;
    grid-template-columns: repeat(48 , 25px);
    grid-template-rows: repeat(26 , 25px);
}
.childDiv1{
    font-size: 24px;
    grid-row: 3/9;
    grid-column: 2/18;
}
.childDiv1 {
    color: hsl(300, 43%, 22%);
}
.childDiv2{
    grid-row: 3/13;
    grid-column: 25/47;
    display: grid;
    grid-template-columns: repeat(24 , 25px);
    grid-template-rows: repeat(10 , 25px);
    flex-direction: column;
}
.ratings{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 20px;
    height: 75px;
    gap: 12px;
    color: hsl(300, 43%, 22%);
}
.ratings img{
    height: 25px;
}
.rating1{
    grid-row: 1/4;
    grid-column: 1/22;
}
.rating2{
    grid-row: 5/7;
    grid-column: 2/23;
}
.rating3{
    grid-row: 9/10;
    grid-column: 3/24;
}
.reviewDivs{
    grid-row: 15/27;
    grid-column: 1/49;
    display: grid;
    grid-template-rows: repeat(12, 25px);
    grid-template-columns: repeat(48, 25px);
}
.reviews{
    display: flex;
    background-color: hsl(300, 43%, 22%);
    border: 10px solid hsl(300, 43%, 22%);
    border-radius: 15px;
    gap: 9px 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.rChildDiv1{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}
.rChildDiv2{
    width: 80%;
}
.reviews ol{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reviewText{
    display: flex;
    color: white;
}
ol li h3{
    color: white;
}
ul li{
    color: hsl(333, 80%, 67%);
}
.reviews img{
    height: 50px;
    border-radius: 50%;
}
.review1{
    grid-row: 2/10;
    grid-column: 2/16;
}
.review2{
    grid-row: 3/11;
    grid-column: 18/32;
}
.review3{
    grid-row: 4/12;
    grid-column: 34/48;
}