body{
    display: flex;
    width: 99%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: "Roboto", sans-serif;
}
.parent{
    display: grid;
    border: 1px solid black;
    border-radius: 35px;
    box-shadow: 5px 5px 5px;
    grid-template-columns: repeat(12,50px);
    grid-template-rows: repeat(14,50px);
}
.photo{
    border-radius: 50%;
    width: 200px;
    grid-column: 5/9;
    grid-row: 2/4;
}
.main{
    grid-column: 4/10;
    grid-row: 7/11;
}
ul{
    list-style-type: none;
}
.footer{
    grid-column: 3/11;
    grid-row: 12/14;
}
i{
    font-size: 50px;
}
.footerli{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
@media screen and (max-width: 650px){
    .parent{
        grid-template-columns: repeat(12,25px);
        grid-template-rows: repeat(14,25px);
    }
}