*{
  padding: 0px;
  margin: 0px;
}
body{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 250px;
  align-items: center;
  background-color: rgb(102, 133, 121);
}
ul{
  display: flex;
  gap: 50px;
  list-style-type: none;
}
li{
  font-size: large;
  color: rgb(62, 53, 117);
}