body{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    font-weight:600;
}
input{
    width: 350px;
    height: 25px;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    height: 35px;
    margin-top: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
button:hover{
    color: black;
    background-color: white;
}
a{
    color: black;
    text-decoration: none;
}