body{
    height: 100vh;
    width: 99%;
    display: grid;
    grid-template-columns: repeat(21,auto);
    grid-template-rows: repeat(21,auto);
}
div{
    border: 5px solid black;
    background-color:red;
}
.first{
    grid-column: 1/2;
}
.second{
    grid-column: 2/3;
}
.third{
    grid-column: 3/4;
}

@media screen and (max-width:600px){
    .first{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .second{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .third{
        grid-column: 1/2;
        grid-row: 4/6;
    }
}