.parent{
    display: grid;
    max-width: 100%;
    height: 300px;
    border: 10px solid black;
    grid-template-columns: repeat(3,auto);
}
.child{
    border: 5px solid rgb(255, 0, 0);
    text-align: center;
}
.header{
    grid-column: 1/4;
}
.menu{
    grid-row: 2/4;
}
.footer{
    grid-column: 2/4;
}